In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")

In [4]:
df.shape

(78, 6)

## find the number of records

In [6]:
df.shape[0]

78

## find the number of columns

In [7]:
df.shape[1]

6

## find the names of the columns

In [11]:
colnames=df.head(0)
colnames

Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

## Find the types of columns in the data frame

In [14]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object